
@{
    ViewData["Title"] = "RegisterNewAccount";
}

<h1>Register New Account</h1>

<a href="/ManageAccount/RegisterNewStudent" class="btn btn-primary">Create new Student</a>
<a href="/ManageAccount/RegisterNewTeacher" class="btn btn-primary">Create new Teacher</a>
<a href="/ManageAccount/RegisterNewStudent" class="btn btn-primary">Create new Manager</a>

